@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

html{
    font-size: 62.5%;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    min-height: 100vh;
}

a, a:visited  {
   text-decoration: none;
   color: $very-ligth-gray;
}
a:hover  {
    cursor: pointer;
    color: $lime-green;
}