@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
 * Collapse
 */
.hamburger--collapse {
  background-color: transparent;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.isactive .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.isactive .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.isactive .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

html {
  font-size: 62.5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
}

a, a:visited {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
}

a:hover {
  cursor: pointer;
  color: hsl(136deg, 65%, 51%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: hsl(0deg, 0%, 98%);
  overflow: visible;
}
.header.isactive {
  mix-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(2px);
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
}
.header__background {
  display: flex;
  order: 2;
  position: relative;
  width: 100%;
  overflow: visible;
  z-index: 10;
}
@media (min-width: 1200px) {
  .header__background {
    min-height: 100%;
  }
}
.header__background__intro {
  z-index: 0;
  background: url("../images/bg-intro-mobile.svg") cover/center no-repeat;
  height: 100px;
  width: 100px;
}
.header__background__mockup {
  position: absolute;
  max-width: 900px;
  top: -105px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 80%;
}
.header__background__mockup img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}
@media (min-width: 480px) {
  .header__background__mockup {
    top: -140px;
    height: 100%;
    width: 60%;
  }
}
@media (min-width: 768px) {
  .header__background__mockup {
    top: -350px;
    height: 100%;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .header__background__mockup {
    left: 60%;
    top: -40%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
  }
}
.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1.8rem;
  padding: 0 15px 100px 15px;
  z-index: 20;
  margin-top: 20%;
}
@media (min-width: 1201px) {
  .header__text {
    margin-top: 0;
    width: 50%;
    text-align: left;
    align-items: flex-start;
    padding-left: 150px;
    order: 1;
  }
}

.text__title {
  margin-top: 100px;
  font-size: 3.7rem;
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
}
.text__description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
}
.text__button {
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  border: 0;
  height: 45px;
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 30px;
  margin-top: 15px;
  width: 45%;
}
.text__button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(136deg, 65%, 70%), hsl(192deg, 70%, 70%));
}

.body_services {
  background-color: hsl(220deg, 16%, 96%);
  padding: 75px 20px;
}
.body_services.isactive {
  mix-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(2px);
}

.head-services {
  text-align: center;
}
.head-services__question {
  font-size: 3.3rem;
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  margin-bottom: 25px;
}
.head-services__answer {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
  margin-bottom: 50px;
}

.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .services {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 25px;
  max-width: 275px;
}
@media (min-width: 768px) {
  .service {
    align-items: flex-start;
  }
}
.service__title {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}
.service__description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
  margin-top: 10px;
}

.services_budgeting {
  height: 220px;
}

.body-articles {
  background-color: hsl(0deg, 0%, 98%);
}

.head-articles {
  text-align: center;
  font-size: 3.3rem;
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  margin: 0px 0 25px 0;
  padding: 75px 0 0 0;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px 100px 25px;
  row-gap: 25px;
}
@media (min-width: 768px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .articles {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}

.article {
  max-width: 275px;
  transition: 0.25s ease-in;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  box-shadow: 23px 43px 50px -9px rgba(66, 68, 90, 0.12);
}
.article:hover {
  transform: translateY(-10px);
}
.article a {
  color: hsl(233deg, 26%, 24%);
}
.article a:hover {
  color: hsl(136deg, 65%, 51%);
  cursor: pointer;
}
.article__image > img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.article__author {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
  margin-bottom: 15px;
  padding-left: 25px;
}
.article__title {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0 25px 0 25px;
  margin-bottom: 15px;
}
.article__content {
  margin-bottom: 30px;
  color: hsl(233deg, 8%, 62%);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 20px 0 25px;
  line-height: 1.2;
}

a {
  color: hsl(233deg, 26%, 24%);
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  color: hsl(0deg, 0%, 98%);
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1201px) {
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 50px;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  padding-top: 15px;
}
@media (min-width: 1201px) {
  .footer__left {
    width: 30%;
    row-gap: 25px;
  }
}
.footer__left__logo {
  background: url("../images/logo2.svg") center/contain no-repeat;
  fill: hsl(0deg, 0%, 100%);
  height: 70px;
  width: 150px;
}
.footer__left__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  max-width: 175px;
}
.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  margin: 25px 0;
}
@media (min-width: 768px) {
  .footer__middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    width: 70%;
    height: 100%;
  }
}
@media (min-width: 1201px) {
  .footer__middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    width: 25%;
    text-align: left;
  }
}
.footer__middle__link {
  font-size: 1.2rem;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
}
@media (min-width: 768px) {
  .footer__middle__link {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .footer__middle__link:hover {
    padding-left: 15px;
    transform: scale(1.1);
  }
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 25px;
}
@media (min-width: 1201px) {
  .footer__right {
    justify-content: flex-end;
    align-items: end;
    width: 35%;
    height: 100%;
    padding-top: 50px;
  }
}
.footer__right__button {
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  border: 0;
  height: 45px;
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 30px;
  width: 50%;
  max-width: 140px;
  height: 37px;
}
.footer__right__button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(136deg, 65%, 70%), hsl(192deg, 70%, 70%));
}
.footer__right__copyright {
  font-size: 1.3rem;
  color: hsl(233deg, 8%, 62%);
}

.icon {
  font-size: 1.8rem;
  transform: rotate(0);
  -webkit-animation: rotate 2s linear forwards;
          animation: rotate 2s linear forwards;
}
.icon:hover {
  -webkit-animation: rotate 2s linear forwards;
          animation: rotate 2s linear forwards;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
    transform: scale(1);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(2);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
    transform: scale(1);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(2);
  }
}

.navbar {
  position: fixed;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  height: 60px;
  width: 100%;
  z-index: 1000;
  padding: 0 15px;
}
@media (min-width: 1201px) {
  .navbar {
    padding: 0 150px;
  }
}
.navbar__logo {
  background: url("../images/logo.svg") center/contain no-repeat;
  height: 60px;
  width: 150px;
}
.navbar__links {
  position: absolute;
  top: -500px;
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 768px) {
  .navbar__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.4rem;
  }
}
.navbar__links.isactive {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 90%;
  border-radius: 10px;
  z-index: 1500;
  background-color: hsl(0deg, 0%, 100%);
  top: 80px;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.navbar__button {
  display: none;
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  border: 0;
  height: 45px;
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 30px;
  width: 15%;
  height: 37px;
}
.navbar__button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(136deg, 65%, 70%), hsl(192deg, 70%, 70%));
}
@media (min-width: 768px) {
  .navbar__button {
    display: block;
  }
}
.navbar__hamburger {
  border: 0;
}
@media (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
}

.nav-link {
  position: relative;
}
.nav-link:hover {
  cursor: pointer;
}
.nav-link::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  background-color: hsl(136deg, 65%, 51%);
  transform-origin: right;
  height: 3px;
  transition: transform 0.25s ease-in;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */