.navbar  {

    position : fixed ;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  $white;
    height: 60px; 
    width: 100%;
    z-index: 1000;
    padding: 0 15px;
    @include respond-to ('extra-large') {
        padding: 0 150px;
    }


    &__logo  {
        background: url('../images/logo.svg') center/contain no-repeat;
        height: 60px;
        width: 150px;
    }

    &__links  {
        position: absolute;

        top: -500px;
        color: $grayish-blue;

        @include respond-to ('medium')  {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 30%;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            font-size: 1.4rem

        }

        &.isactive{
        position: absolute;
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 30vh;
        width: 90%;
        border-radius: 10px;
        z-index: 1500;
        background-color: $white;
        top: 80px;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
      
        }
    }

    &__button  {
        display : none;
        @include request_button;
        width: 15%; 
        height: 37px;

        @include respond-to ('medium')  {
            display: block;
        }
    }
    &__hamburger  {
        border: 0;

        @include respond-to ('medium')  {
            display: none;
        }

    }
}

.nav-link  {
    position: relative;

    &:hover  {
        cursor: pointer;
    }

    &::after  {
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        background-color: $lime-green;
        transform-origin: right;
        height: 3px;
        transition: transform 0.25s ease-in;
    }
    &:hover:after{
        transform: scaleX(1);
        transform-origin: left;
        cursor: pointer;
    }
}