.body_services  {
    background-color: $ligth-grayish-blue;
    padding: 75px 20px;

    &.isactive {
        mix-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(2px);
    }
}
.head-services  {
    text-align: center;
    &__question  {
        @include h2 ;
        margin-bottom: 25px
    }

    &__answer   {
        @include text_style;
        margin-bottom: 50px;
    }
}
.services  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @include respond-to ('medium')  {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    @include respond-to ('large')  {
        display: flex;
        justify-content: center;
        flex-direction: row;
        column-gap: 25px;
    }

}
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 25px;
    max-width: 275px;

    @include respond-to ('medium')  {
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title  {
        @include h3 ;
    }
    &__description  {
        @include text_style;
        margin-top: 10px;
    }
}